<h2>Nouveau message de contact</h2>

<p><strong>Nom :</strong> {{ name }}</p>
<p><strong>Email :</strong> {{ fromEmail }}</p>
<p><strong>Sujet :</strong> {{ subject }}</p>

<h4>Message :</h4>
<p>{{ message|nl2br }}</p>
