@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

// Override default sans-serif stack to use Manrope, then Work Sans, with system fallbacks
$font-family-sans-serif: 'Manrope', 'Work Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import './../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

img.picture_index {
        width: 100%;
        height: 80vh;
    }

section { 
    .card-size {
        max-width: 500px;
    }

    .contact{
        display: flex ; 
        justify-content: center;
        width: 40%;  
        height: 50px; 
        border-radius: 100px; 
    }
}
section.section_margin {
        margin-top: -10rem; margin-bottom: 3rem;
}

h2.contact {
    width: 40%;  
    height: 50px; 
    border-radius: 100px; 
}
