@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

// Override default sans-serif stack to use Manrope, then Work Sans, with system fallbacks
$font-family-sans-serif: 'Manrope', 'Work Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import './../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

img.picture_index {
        width: 100%;
        height: 80vh;
    }

.hero-text {
        top: 8%;
        width: min(90%, 700px);
    }

.hero-form {
        width: min(92%, 900px);
        margin: 1.5rem auto 0;
    }

@media (min-width: 992px) {
    .hero-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        margin: 0;
    }
}

section { 
    .card-size {
        max-width: 500px;
    }

    .contact{
        display: flex ; 
        justify-content: center;
        width: 40%;  
        height: 50px; 
        border-radius: 100px; 
    }
}
section.section_margin {
        margin-top: 2rem;
        margin-bottom: 3rem;
}

h2.contact {
    width: 40%;  
    height: 50px; 
    border-radius: 100px; 
}

@media (max-width: 991.98px) {
    img.picture_index {
        height: 55vh;
    }
}
