@import './../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

img.picture_index {
        width: 100%;
        height: 80vh;
    }

section { 
    .card-size {
        max-width: 500px;
    }

    .contact{
        display: flex ; 
        justify-content: center;
        width: 40%;  
        height: 50px; 
        border-radius: 100px; 
    }
}
section.section_margin {
        margin-top: -10rem; margin-bottom: 3rem;
}

h2.contact {
    width: 40%;  
    height: 50px; 
    border-radius: 100px; 
}