{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/main.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="min-vh-100 d-flex flex-column">

    {{ include('partials/_banner.html.twig') }}
    
    <div class="flex-fill">
        {% block content %}{% endblock %}
    </div>

    {{ include('partials/_footer.html.twig') }}
</div>
{% endblock %}
